<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Fuentes y estilos -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
      <div class="container">
        <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
        <img src="https://res.cloudinary.com/duirrlohe/image/upload/v1753376757/Logo_nb3inj.jpg" alt="Logo" style="height: 60px;" class="me-2">
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to 'Projects', projects_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'About Me', about_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Contact', contact_path, class: "nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="mt-5 pt-5">
      <%= yield %>
    </main>
  </body>


    <footer class="footer">
      <div class="container">
        <p>&copy; <%= Date.today.year %> Evelyn Avilés — Todos los derechos reservados.</p>
      </div>
    </footer>
</html>
