<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Fuentes y estilos -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <nav class="navbar d-flex justify-content-between align-items-center">
        <div class="navbar-brand">Evelyn Avilés</div>
        <div class="navbar-nav">
          <a class="nav-link" href="#projects">Projects</a>
          <a class="nav-link" href="#about">About</a>
          <a class="nav-link" href="#contact">Contact</a>
        </div>
      </nav>
    </header>


    <main class="main-content">
      <%= yield %>
    </main>

    <footer class="footer">
      <div class="container">
        <p>&copy; <%= Date.today.year %> Evelyn Avilés — Todos los derechos reservados.</p>
      </div>
    </footer>
  </body>
</html>
